## Deliverable 3. Create a Travel Itinerary Map.

In [76]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [77]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()

vacation_df = pd.read_csv("WeatherPy_vacation.csv")

vacation_df.head(80)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,2,Luwuk,ID,85.71,-0.9516,122.7875,Hotel Santika Luwuk
1,5,Sorong,ID,83.61,-0.8833,131.2500,The Waigo Hotel
2,7,Hilo,US,82.40,19.7297,-155.0900,Hilo Hawaiian Hotel
3,8,Flinders,AU,81.00,-34.5833,150.8552,Shellharbour Resort & Conference Centre
4,14,Kapaa,US,79.00,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
...,...,...,...,...,...,...,...
75,319,Kavieng,PG,85.71,-2.5744,150.7967,Nusa Island Retreat
76,324,Matara,LK,76.78,5.9485,80.5353,Amaloh Boutique Resort
77,326,Iquitos,PE,75.20,-3.7481,-73.2472,Cortez Malaga Techy Caroly
78,327,Olinda,BR,78.80,-8.0089,-34.8553,Flat Quatro Rodas Olinda
79,328,Miri,MY,80.60,4.4148,114.0089,"Mega Hotel, Miri"

In [78]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [79]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [80]:

# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

start_city = "Sorong"
end_city = "Sorong"


#end_city = "Manokwari" (when I put the same start and end city, what happens is E is placed on top of A and u cant really see A. If you want to see A as well, # this line and un# the other one, everything shows)
city1 = "Atambua"
city2 = "Bengkulu"
city3 = "Kupang"

vacation_start = vacation_df.loc[vacation_df["City"] == start_city]
vacation_end = vacation_df.loc[vacation_df["City"] == end_city]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == city1]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == city2] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == city3]

In [81]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [82]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "FLYING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [83]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,5,Sorong,ID,83.61,-0.8833,131.2500,The Waigo Hotel
1,315,Atambua,ID,84.33,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
2,495,Bengkulu,ID,82.63,-3.8004,102.2655,Grage Hotel Bengkulu
3,299,Kupang,ID,80.60,-10.1667,123.5833,Hotel On The Rock by Prasanthi
4,5,Sorong,ID,83.61,-0.8833,131.2500,The Waigo Hotel

In [84]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [85]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))